@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    display: flex;
    flex-direction: row-reverse;
}

header {
    width: 745px;
    /* margin-left: 949px; */
    height: 100vh;
    display: flex;
    background-image: url("./assets/Background-5-10.png");
    
}

a {
    font-size: 25px;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 41px;
    text-decoration: none;
    color: #5D5D7D;

    &:hover {
        cursor: pointer;
        opacity: 40%;
    }
}

.img-main {
    position: absolute;
    width: 456px;
    height: 561.95px;
    margin-top: 170px;
    margin-right: 430px;
}

h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
    height: 160px;
}

p {
    width: 540px;
    height: 144px;
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    opacity: 60%;
}

button{
    width: 269px;
    height: 62px;
    margin-top: 15px;
    background-color: #9499EA;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 0px 5px 10px 0px #9498ea98;
}

.section-hero{
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    margin-right: 400px;
}

@media (max-width: 375px){
    body{
        display: flex;
        flex-direction: column-reverse;
        width: 375px;
        height: 812px;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header{
        width: 100%;
        margin-top: 35px;
        
    }

    a{
        visibility: hidden;
    }

    .img-main{
        width: 270px;
        height: 300px;
        margin-bottom: 80px;
        margin-left: 51px;

    }

    h1{
        width: 200px;
        height: 104px;
        font-size: 36px;
        font-weight: 400;
        margin-left: 380px;
        margin-top: -300px;
        text-align: center;
        line-height: 52px;
    }

    p{
        width: 225px;
        height: 104px;
        font-size: 15px;
        font-weight: 400;
        margin-left: 380px;
        margin-top: 15px;
        text-align: center;
        line-height: 25px;
    }

    button{
        width: 268px;
        height: 62px;
        font-size: 24px;
        font-weight: 400;
        margin-left: 380px;
        margin-top: 15px;
        text-align: center;
        line-height: 100%;

        &:hover{
            cursor: pointer;
            background-color: #5D5D7D;
        }
    }

}